* {
    margin: 0px;
    box-sizing: border-box;
    font-size: 1.1rem;
}

h1 {
    font-family: cursive;
    font-size: 2.5rem;
}

footer h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

footer {
    background-color: black;
    margin-top: 100px;
    color: white;
}



/* Menu */
.menu {
    padding: 25px;
    margin: auto;
}

.menu a {
    margin-right: 15px;
    text-decoration: none;
    font: bold Arial, sans-serif;
    color: rgba(0, 0, 0, 0.76);
}

.menu a:hover {
    color: rgb(0, 0, 0);
}

/* menu mobile */
.menu-mobile {
    background-color: rgba(204, 204, 206, 0.007);
    position: absolute;
    backdrop-filter: blur(10px);
    top: 0px;
    left: 0px;
    height: 0;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    transition: 1s;

}

.menu-mobile a {
    margin-right: 15px;
    text-decoration: none;
    font: bold Arial, sans-serif;
    color: rgba(253, 253, 253, 0.76);
    display: block;
    padding: 20px 30px;


}

.menu-mobile a:hover {
    background-color: rgba(17, 241, 241, 0.267);
}

/* div com click */
.icon-menu-click {
    display: none;
    width: 60px;
    height: 40px;
    position: absolute;
    right: 0;
}

/* desenho do icone */
.menu-icon {
    display: block;
    background-color: white;
    width: 30px;
    height: 2px;
    position: absolute;
    top: 20px;
    right: 20px;

}

.menu-icon:before,
.menu-icon:after {
    content: '';
    background-color: white;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.menu-icon:before {
    top: -10px;
}

.menu-icon:after {
    bottom: -10px;
}

.banner {
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url(../images/banner.png);
    background-size: cover;
    opacity: 0.88;
}

.banner img {
    width: 350px;
    position: absolute;
    right: 20%;
    top: 22%;
}

#logoImg {
    opacity: 0.01;
    transition: opacity 3s, transform 1s;
    transform: translateX(-1000px);
}

#logoImg.transition-img {
    opacity: 0.5;
    transform: translateX(0);
}


.historia {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    transition: transform 1s;
    transform: translateX(-150%);
}


.transition-img {
    transform: translateX(0);
}

.historia h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.historia .col-2 {
    margin: 5px auto;
    text-align: left;/
}

.historia p {
    padding: 16px;
    text-align: justify;

}

.historia img{
    width:100%;

}

.historia video{
    width: 100%;
    display: none;

}

.servicos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 16px;
    background-color: rgb(243, 242, 242);
    min-height: 400px;

}

.servicos h5{
    margin-bottom: 6px;
}

.servicos .col-3 {
    margin: auto;
    background-color: white;
}

.corte,
.barba,
.quimica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-height: 200px;
}

.corte p,
.barba p,
.quimica p {
    align-self: flex-start;
    font-size: 0.9rem;
    text-align: justify;
}

.galeria {
    margin-top: 40px;
}

.galeria h1 {
    text-align: center;
    font-size: 2rem
}

.galeria img {
    height: 650px;
}

.owl-carousel .owl-item img {
    margin: auto;
}

.contato {
    display: flex;
}

.contato .col-2 {
    margin: 15px auto;
}



.rede-sociais {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.rede-sociais a img {
    margin-right: 20px;
    width: 60px;
}

.rede-sociais a:hover {
    transform: scale(1.1)
}

.funcionamento {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.funcionamento img {
    width: 30px;
    margin-right: 5px;
}


.endereco {
    display: flex;
    flex-wrap: wrap;
}

.corte img,
.barba img,
.quimica img {
    width: 60px;
    height: 60px;
}





.col-1 {
    width: 90%;

}

.col-2 {
    width: 45%;

}

.col-3 {
    width: 30%;
}