@media screen and (max-width:900px) {

    .menu {
        display: none;
    }

    .menu-mobile.abrir {
        visibility: visible;
        height: 100%;
        background-color: rgba(204, 204, 206, 0);
    }

    .icon-menu-click {
        display: block;
    }



}


@media screen and (max-width:850px) {
    .banner img {
        right: 10%;
        width: 300px;
    }

    .historia {
        padding: 16px;
    }


    .historia .col-2 {
        width: 100%;
    }

    .servicos .col-3 {
        width: 100%;
        margin: 25px;
    }

    .corte img,
    .barba img,
    .quimica img {
        width: 40px;
        height: 40px;
    }

    .contato > .col-2{
        width: 100%;
        margin: auto;
    }

    .contato{
     display: block;
     text-align: center;
    }

    .rede-sociais{
        justify-content: center;
    }
    
    .funcionamento{
        justify-content: center;
        margin-bottom: 25px;
    }

    .endereco{
        justify-content: center;
        padding: 25px;
    }

}



@media screen and (max-width:704px) {

    .banner {
        height: 300px;
        background-size: cover;
    }

    .banner img {
        width: 150px;
        top: unset;
        bottom: 0;
        right: 5px;
    }

    .owl-carousel .owl-stage .owl-item img {
        width: 100%; 
      }

}

@media (max-width: 700px) {
    
  }