
@media screen and (max-width:900px) {

    .menu {
        display: none;
    }

    .menu-mobile.abrir {
        visibility: visible;
        height: 100%;
        background-color: rgba(204, 204, 206, 0);
    }

    .icon-menu-click {
        display: block;
    }

}


@media screen and (max-width:820px) {

    .banner{
        height: 300px;
    }
    
    .banner img{
        width: 150px;
        height: 150px;
        top:100px;
        left: 410px;
        background-position: 30px;
    
    }
    
    }



@media screen and (max-width:500px) {

.banner{
    height: 200px;
}

.banner img{
    width: 36%;
    height: 55%;
    top:100px;
    left: 200px;
    background-position: 30px;

}

}